@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  width: 98%;
  padding-left: 0.5rem;
}

ul {
  margin: 0;
  padding-left: 1.5rem;
}

li {
  all: unset;
  margin: 0;
}

button {
  all: unset;
  padding: 0.35rem;
}

button:hover {
  background-color: lightgray;
  border-radius: 3px;
  height: fit-content;
}

input {
  border: 0;
  border-radius: 3px;
  font-size: 1rem;
  height: 1.5rem;
  color: gray;
}

.icon {
  color: steelblue;
}

.controls {
  display: flex;
  color: slategray;
  padding-left: 0.5rem;
}

.node {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 2rem;
  color: darkslategray;
  font-weight: 300;
}

.node:hover {
  font-weight: 500;
}

.selected {
  background-color: rgba(200, 200, 200, 0.5);
  font-weight: 500;
}
